.main{
	height: 550px;
	width : 100%;
}

.text{
	color:white;
	font-size:1.5vw;
	text-align:center;
	font-family:'Bookman';
	display: inline-block;
	margin-left: 7%;
	margin-top: 10%;
}
.text p{
	font-weight: bold;
	font-size: 2vw;
	margin-right: 3%;
	 
    
}

h1{
    font-family: arial;
    font-size:2vw;
    text-align: center;
    width:100%;
    margin-left: 7vw;
}


.footer{
	color: black;
	height: auto;
	width: 100%;
	background-color: #1B9CFC;
	text-align: center;
	color: white;
	font-size: 2vw;
	font-family: 'arial';
	display: inline-block;
	margin-top: 40vw;
    border:0px;

}

.image img{
	margin-top: 10vw;
	margin-left: 30%;
	height:30%;
	width:40vw;
}


.button {
  background-color: #f4511e;
  border: none;
  color: white;
    margin-top:5vw;
    outline:none;
  padding: 16px 32px;
  text-align: center;
  font-size: 2vw;
  font-family: 'Verdana';
  opacity: 1;
  transition: 0.1s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  max-width: 100%;
  border-radius: 20px;
    box-shadow: 0px 15px 40px 7px #333;
    margin-left: 13vw;


}
.button:hover{
    background-color:black;
    
}

a:link, a:visited {
    background-color:#f4511e ;
    border:2px solid;
    color: white;
    padding: 2vw 8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover{
    color:black;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .image img {
        margin-top:10%;
        margin-left: 15%;
        margin-right: 55%;
        height:60%;
        width: 70%;
    }
}
