.main{
	height: 550px;
	width : 100%;
}

.logo{
	 max-width: 100%;
    height: 200px;
    margin-left: 40%;
}

.text{
	color:white;
	font-size:1.5vw;
	text-align:center;
	font-family:'Bookman';
	display: inline-block;
	margin-left: 7%;
	margin-top: 5%;
}
.text p{
	font-weight: bold;
	font-size: 2vw;
	margin-right: 3%;
	background-color:#4883FF;
}


.footer{
	color: black;
	height: auto;
	width: 100%;
	background-color: #4883FF;
	text-align: center;
	color: white;
	font-size: 2vw;
	font-family: 'Bookman';
	display: inline-block;
	margin-top: 40%;

}

.image img{
	margin-top: 7%;
	margin-left: 30%;
	height:30%;
	width:40%;
}


.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 2vw;
  font-family: 'Verdana';
  opacity: 1;
  transition: 0.1s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  max-width: 100%;

}

a:link, a:visited {
    background-color: #4883FF;
    border:solid;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .image img {
        margin-top:10%;
        margin-left: 15%;
        margin-right: 55%;
        height:60%;
        width: 70%;
    }
}
